<%- include ../widget/header %>

<div id="MainContainer" class="container">
    <%- include ../widget/info %>

    <% if (user) { %>
        <%- include ../operation/fileupload %>
    <% } %>

    <%- include ../widget/fileInfoTable %> 
</div>

<%- include ../widget/footer %>
